
.inner{
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    color:inherit;
    padding: 8px 10px;
    border-radius: var(--mantine-radius-sm);
}



.link:not([data-active]):hover{
    background-color: lightgray;
}

[data-active]{
    background-color: var(--mantine-color-blue-filled);
    color:white;
    
}